.nameHeader {
    margin-top:22px;
    font-size: 25pt;
    font-family: "display";
    word-wrap: break-word;
    max-width: 85vw;
    width: 85vw;
    text-align: center;
}

.codeWrap { 
    flex: 1;
    flex-direction: column;
    position: relative;
}

.randomButton {
    width: 30px;
    filter: invert(50%);
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 5px;
}
.randomButton:hover {
    cursor: pointer;
    filter: invert(75%);
}
.randomButton:active {
    cursor: pointer;
    filter: invert(100%);
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
    display: inline-block;
    font-family: "text";
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.resumeTop {
    position: relative;
    display: flex;
    column-gap: 1.83vw;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    left: 50%;
    transform: translateX(-50%);
}

li {
    word-wrap: break-word;
    max-width: 90vw;
}

.resumeFill {
    position: relative;
    width: 85vw;
    left: 50%;
    transform: translateX(-50%);
}